{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавить новый курс</h1>
    <div class="container">
    {{ include('course/_form.html.twig') }}
</div>
{% endblock %}
