{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавить новый урок</h1>
    {{ include('lesson/_form.html.twig') }}
    <a href="{{ path('app_course_show', {'id': 8}) }}">Вернуться назад</a>
</div>
{% endblock %}
